xml-resources/web-service-references/StudentRegistryService/wsdl/localhost_8080/ws-textbook-ex03-studentRegistrySoap/StudentRegistryService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.ws.eltonb.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws.eltonb.com/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="enterDepartment" type="tns:enterDepartment"/>

<xs:element name="enterDepartmentResponse" type="tns:enterDepartmentResponse"/>

<xs:element name="readStudent" type="tns:readStudent"/>

<xs:element name="readStudentResponse" type="tns:readStudentResponse"/>

<xs:element name="submitGrade" type="tns:submitGrade"/>

<xs:element name="submitGradeResponse" type="tns:submitGradeResponse"/>

<xs:complexType name="enterDepartment">
<xs:sequence>
<xs:element name="department" type="tns:departmentData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departmentData">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enterDepartmentResponse">
<xs:sequence>
<xs:element name="department" type="tns:departmentData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readStudent">
<xs:sequence>
<xs:element name="request" type="tns:studentRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentRequest">
<xs:sequence>
<xs:element name="studentId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readStudentResponse">
<xs:sequence>
<xs:element name="response" type="tns:studentResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentResponse">
<xs:sequence>
<xs:element name="student" type="tns:studentData" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studentData">
<xs:sequence>
<xs:element name="courses" type="tns:courseData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="gpa" type="xs:double"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="totalCredits" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="courseData">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="credits" type="xs:int"/>
<xs:element name="grade" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitGrade">
<xs:sequence>
<xs:element name="request" type="tns:gradeRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gradeRequest">
<xs:sequence>
<xs:element name="courseCode" type="xs:string" minOccurs="0"/>
<xs:element name="finalGrade" type="xs:double"/>
<xs:element name="instructorName" type="xs:string" minOccurs="0"/>
<xs:element name="semesterCode" type="xs:string" minOccurs="0"/>
<xs:element name="studentId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitGradeResponse">
<xs:sequence>
<xs:element name="return" type="tns:gradeResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gradeResponse">
<xs:sequence>
<xs:element name="courseCode" type="xs:string" minOccurs="0"/>
<xs:element name="courseTitle" type="xs:string" minOccurs="0"/>
<xs:element name="finalGrade" type="xs:double"/>
<xs:element name="letterGrade" type="xs:string" minOccurs="0"/>
<xs:element name="semesterName" type="xs:string" minOccurs="0"/>
<xs:element name="studentFullName" type="xs:string" minOccurs="0"/>
<xs:element name="studentId" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>