xml-resources/web-service-references/StudentRegistryService/wsdl/localhost_8080/ws-textbook-ex03-studentRegistrySoap/StudentRegistryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.eltonb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws.eltonb.com/" name="StudentRegistryService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws.eltonb.com/" schemaLocation="http://localhost:8080/ws-textbook-ex03-studentRegistrySoap/StudentRegistryService?xsd=1"/>
</xsd:schema>
</types>
<message name="submitGrade">
<part name="parameters" element="tns:submitGrade"/>
</message>
<message name="submitGradeResponse">
<part name="parameters" element="tns:submitGradeResponse"/>
</message>
<message name="enterDepartment">
<part name="parameters" element="tns:enterDepartment"/>
</message>
<message name="enterDepartmentResponse">
<part name="parameters" element="tns:enterDepartmentResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="readStudent">
<part name="parameters" element="tns:readStudent"/>
</message>
<message name="readStudentResponse">
<part name="parameters" element="tns:readStudentResponse"/>
</message>
<portType name="StudentRegistry">
<operation name="submitGrade">
<input wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/submitGradeRequest" message="tns:submitGrade"/>
<output wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/submitGradeResponse" message="tns:submitGradeResponse"/>
</operation>
<operation name="enterDepartment">
<input wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/enterDepartmentRequest" message="tns:enterDepartment"/>
<output wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/enterDepartmentResponse" message="tns:enterDepartmentResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/enterDepartment/Fault/Exception"/>
</operation>
<operation name="readStudent">
<input wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/readStudentRequest" message="tns:readStudent"/>
<output wsam:Action="http://soap.ws.eltonb.com/StudentRegistry/readStudentResponse" message="tns:readStudentResponse"/>
</operation>
</portType>
<binding name="StudentRegistryPortBinding" type="tns:StudentRegistry">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="submitGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enterDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="readStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentRegistryService">
<port name="StudentRegistryPort" binding="tns:StudentRegistryPortBinding">
<soap:address location="http://localhost:8080/ws-textbook-ex03-studentRegistrySoap/StudentRegistryService"/>
</port>
</service>
</definitions>